body {
  margin: 0;
  background-color: #ECEFF5;
}

.titlemain {
	display: table;
	float: none;
	position: relative
    width:  100%;
    margin:  auto;
	font-size: 250%;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}

.desc1 {
  display: table;
  float: none;
  position: relative
  width:  100%;
  margin: 0 auto;
  font-size: 90%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.desc2 {
  display: table;
  float: none;
  position: relative
  width:  100%;
  margin: 0 auto;
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

  .hlink {
  display: table;
  float: none;
  position: relative
  width:  100%;
  margin: 0 auto;
  font-size: 90%;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #2874A6;
  }

.dash {
  background-color: #FFFFFF;
  padding: 20px;
}

.err401 {
  padding: 60px;
  font-family: 'Roboto' , sans-serif;
  font-weight: 900;
  font-size: 200%;
}

.errDesc  {
  font-family: 'Roboto' , sans-serif;
  font-weight: 400;
  font-size: 50%;
  cursor: pointer;
}
